<a href="https://colab.research.google.com/github/HyunLee103/Python_basic/blob/master/coding_dojang__11~20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #11 시퀸스 자료형 활용

In [0]:
a = [0,10,20,30]
b = [9,8,7,6]
a+b

[0, 10, 20, 30, 9, 8, 7, 6]

In [1]:
list(range(0,20,3))

[0, 3, 6, 9, 12, 15, 18]

### Practice

In [3]:
n = (-32,75,97,-10,9,32,4,-15,0,76,14,2)
n[1:12:2]

(75, -10, 32, -15, 76, 2)

In [8]:
x = input().split()
del x[-1:-5]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl', 'crop', 'space', 'navy', 'loss', 'knee')

In [9]:
x = input()
y = input()

def swap(a,b):
  result = a[1::2] + b[0::2]
  print(result)

python
python

In [10]:
swap(x,y)

yhnpto

# #12 Ditionary

In [13]:
lux = {'health':490, 'health':800, 'mana':334} # 중복되는 key가 있으면 가장 뒤에 있는 값만 사용
lux

{'health': 800, 'mana': 334}

In [17]:
# key는 문자열, 실수, 불 사용가능, 그러나 리스트랑 딕셔너리 사용불가 
# value에는 모든 자료형 가능

x = {100:'hundred',False : 0, 45 :[1,3,5,4,6,8] } ; x

{False: 0, 45: [1, 3, 5, 4, 6, 8], 100: 'hundred'}

In [18]:
# 리스트 형태로 dict를 활용해 딕셔너리 만들기

key = ['name','school','age','sex']
value = ['이현','KU',25,'male']
lux2 = dict(zip(key,value)) ;lux2

{'age': 25, 'name': '이현', 'school': 'KU', 'sex': 'male'}

### Practice

In [19]:
x = input().split()
y = input().split()

a = dict(zip(x,y))
print(a)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': '575.6', 'health_regen': '1.7', 'mana': '338.8', 'mana_regen': '1.63'}

# #13~15 IF문 활용

### practice

In [0]:
def discount():
  p = input()
  c = input()
  if c=='Cash3000':
    result = int(p)-3000
  elif c=='Cash5000':
    result = int(p)-5000
  print(result)

In [25]:
discount()

27000
Cash3000
24000

#### 질문
##### 풀긴했는데 코드가 좀 지저분함.. 
###### https://dojang.io/mod/quiz/attempt.php?attempt=895344&cmid=2234

In [0]:
def examtest():
  kor = int(input())
  eng = int(input())
  math = int(input())
  sci = int(input())
  
  e = (kor+eng+math+sci) /4 

  a = [kor,eng,math,sci]

  for i in range(len(a)):
    if a[i] > 100 or a[i] < 0:
      print('잘못된 점수')
      break;
    else:
      if 80<= e <=100:
        print('합격')
      elif 0<= e <80:
        print('불합격')

In [34]:
examtest()

89
72
93
82
합격

In [39]:
examtest()

120
140
45
80
잘못된 점수

In [0]:
def transport():
  age = int(input())
  cash = 9000

  if age < 7:
    print('7이상 입력해주세요')
  elif 7<=age<=12:
    result = cash - 650
  elif 13<=age<=18:
    result = cash - 1050
  elif age >= 19:
    result = cash - 1250
  print(result)

In [41]:
transport()

25
7750

# #16~19 For문 활용

## practice

In [0]:
def exchange():
  x = int(input())
  i = 1
  while True:
    ex = x - 1350
    x = ex
    if x<0:
      break
    print(ex, i)
    i += 1

In [61]:
exchange()

10000
8650 1
7300 2
5950 3
4600 4
3250 5
1900 6
550 7

In [0]:
def print_not3():
  start, stop = map(int, input().split())
  for i in range(start,stop):
    if i % 10 != 3:
      print(i,end=',')

In [80]:
print_not3()

1 20
1,2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,

In [0]:
def itristar(a):
  for i in range(a):
    for j in range(a):
      if j >= i:
        print('*',end = '')
      elif j < i:
        print(' ',end='')
    print()

In [84]:
itristar(5)

*****
 ****
  ***
   **
    *

##### 질문
###### https://dojang.io/mod/quiz/attempt.php?attempt=895443&cmid=2264

In [0]:
def mt_star(a):

length = 2a-1
  for i in range(a):
    for j in range(length):
      if i==1 and j = a \\
        print("*",end='')
      elif i==

# #20 FizzBuzz
##### 1에서 100까지 출력
##### 3의 배수는 Fizz 출력
##### 5의 배수는 Buzz 출력
##### 3과 5의 공배수는 FizzBuzz 출력

In [0]:
def fizzbuzz():
  for i in range(1,101):
    if i% 3 ==0 and i % 5 ==0:
      print('fizzbuzz : %d'%i)
    elif i % 3 == 0 and i%5 !=0:
      print('fizz : %d'%i)
    elif i % 5 ==0 and i % 3 !=0:
      print('buzz : %d'%i)
    else:
      print(i)

In [0]:
fizzbuzz()

#### 코드 줄이기

In [0]:
def fizzbuzz_short():
  for i in range(1,101):
    print('fizz'*(i%3==0)+'buzz'*(i%5==0) or i) # 문자열의 곱셈, 덧셈 연산 활용
                                                # 'fizz'*Flase = 출력 X
                                                # 'fizz;*Ture = 출력 O

In [0]:
fizzbuzz_short()