<a href="https://colab.research.google.com/github/HyunLee103/Python_basic/blob/master/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# study

In [0]:
for i in range(10):
  print(i,"안녕")

0 안녕
1 안녕
2 안녕
3 안녕
4 안녕
5 안녕
6 안녕
7 안녕
8 안녕
9 안녕

In [0]:
# while은 조건을 걸수있고, 무한 loop에 용이하다.
i = 0
while i < 3:
  print("안녕")
  i = i+1

안녕
안녕
안녕

In [0]:
i = 0
while True:
  print(i)
  print("무한루프")
  i = i + 1

  if i > 2:
    break

0
무한루프
1
무한루프
2
무한루프

In [0]:
for i in range(3):
  print(i)
  print("무한루프")

  if i == 1:
    continue  

  print("bottom of continue")

0
무한루프
bottom of continue
1
무한루프
2
무한루프
bottom of continue

# **Practice**
##### 백준 3,4 단계(for,while)
##### 괄호 안은 문제 번호

####**구구단 (2739)**

In [0]:
def gugu(num):
  for i in range(9):
    i = i+1
    result = num * i
    print("%d * %d = %d" %(num,i,result))

In [0]:
gugu(2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

####**A+B  (10950)**

In [0]:
def AsumB(a, b):
  print(len(a))
  for i in range(len(a)):
    result = a[i] + b[i]
    print("%d " %result)

ERROR! Session/line number was not unique in database. History logging moved to new session 63

In [0]:
a = [1,5,4,8,9,6]
b = [8,9,7,4,6,3]
AsumB(a,b)

6
9
14
11
12
15
9

####**N까지 합 (8393)**

In [0]:
def allsum(n):
  result = 0
  for i in range(n):
    i = i+1
    result = result + i
  return result

In [0]:
allsum(100)

5050

####**N 출력(2741)**

In [0]:
def printnum(n):
  for i in range(n):
    i = i + 1
    print("%d" %i)

In [0]:
printnum(5)

1
2
3
4
5

####**N 출력 역방향 (2742)**

In [0]:
def iprintnum(n):
  for i in range(n):
    a = n-i
    print("%d" %a)

In [0]:
iprintnum(5)

5
4
3
2
1

####**A+B adv (11021)**

In [0]:
def asumb(a ,b):
  if len(a)==len(b):
    for i in range(len(a)):
      result = a[i] + b[i]
      print("Case # %d : %d" %(i+1,result))
  else:
    print("a,b 길이를 맞추세요!")

In [0]:
a = [52,6,8,9,7,6,3,1]
b = [1,3,5,6,9,8,9,63]
asumb(a,b)

Case # 1 : 53
Case # 2 : 9
Case # 3 : 13
Case # 4 : 15
Case # 5 : 16
Case # 6 : 14
Case # 7 : 12
Case # 8 : 64

####**A+B adv2 (11022)**

In [0]:
def asumb2(a ,b):
  if len(a)==len(b):
    for i in range(len(a)):
      result = a[i] + b[i]
      print("Case # %d : %d + %d = %d" %(i+1,a[i],b[i],result))
  else:
    print("a,b 길이를 맞추세요!")

In [0]:
asumb2(a,b)

Case # 1 : 52 + 1 = 53
Case # 2 : 6 + 3 = 9
Case # 3 : 8 + 5 = 13
Case # 4 : 9 + 6 = 15
Case # 5 : 7 + 9 = 16
Case # 6 : 6 + 8 = 14
Case # 7 : 3 + 9 = 12
Case # 8 : 1 + 63 = 64

#### **별 찍기1**

In [0]:
def star(n):
  for i in range(1,n+1):
    for _ in range(i): # _를 쓰면 그냥 루프를 돌린다. j로 줘도 되지만, 그 인덱스 값이 필요가 없으므로 _로 선언
      print("*", end = '')
    print() # 파이썬 print는 디폴트로 줄을 바꾼다

In [0]:
star(5)

*
**
***
****
*****

In [0]:
def star2(n):
  for i in range(1, n+1):
    a = "*"*i
    print(a)

ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [0]:
star2(6)

*
**
***
****
*****
******

In [0]:
score = {"철수":50, "영미":40}

In [0]:
{n:s+10 for n, s in score.items()}

{'영미': 50, '철수': 60}

#### **X보다 작은수**

In [0]:
def SthanX(A, X):
  for i in range(len(A)):
    if A[i] < X:
      print(A[i])

In [0]:
A = [4,9,7,6,1,3,5,4,9,6]
X = 5
SthanX(A,X)

4
1
3
4

In [0]:
def 
i = 0 
while